<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>com.scecan.cgiproxy.CGIProxyServlet</servlet-class>
        <!-- duplicate the url-pattern as an initialization parameter here
        because in servlet-api-2.5 there is no way to get it programmatically -->
        <init-param>
            <param-name>url-pattern</param-name>
            <param-value>/proxy/*</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>/proxy/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>

